
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->

        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>

                <li id="dashboard_li">
                    <a href="{% url 'dashboard:index'%}" class="waves-effect" id="dashboard_anchor">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-lightbulb-on"></i>
                        <span>Modulo de Ideas</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Agrega tu idea</a></li>
                        <li><a href="#">Matriz de evaluación y retroalimentación</a></li>
                        <li><a href="#">Estadisticas de ideas</a></li>
                        <li><a href="#">Retos</a></li>
                        <li><a href="#">Top 10 - Generadores de ides </a></li>
                        <li><a href="#">Evaluación de ideas</a></li>
                        <li><a href="#">Mercado de ideas</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-chart-line"></i>
                        <span>Modulo Oportunidades</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Documentos</a></li>
                        <li><a href="#">Tabla de selección de fuentes</a></li>
                        <li><a href="#">Formulario de resgistro de nuevo experto</a></li>

                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-cogs"></i>
                        <span>Modulo Soluciones</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Crear solución</a></li>
                        <li><a href="calendar.html">Calendario de lanzamientos</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <span>Lanzamientos</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#">Últimos Lanzamientos</a></li>
                                <li><a href="#">Próximos Lanzamientos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
                <li class="menu-title">Extras</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-account-box"></i>
                        <span> Authentication </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a target="_blank" href="pages-login.html">Login</a></li>
                        <li><a  target="_blank" href="pages-register.html">Register</a></li>
                        <li><a  target="_blank" href="pages-recoverpw.html">Recover Password</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
