{% load static %}
<!-- <script src="static/libs/jquery/jquery.min.js"></script>
<script src="static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/libs/metismenu/metisMenu.min.js"></script>
<script src="static/libs/simplebar/simplebar.min.js"></script>
<script src="static/libs/node-waves/waves.min.js"></script>
<script src="static/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="static/libs/morris.js/morris.min.js"></script>
<script src="static/libs/raphael/raphael.min.js"></script>

<script src="static/js/pages/dashboard.init.js"></script>


<script src="static/js/app.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script> -->




<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/app.js' %}"></script>